#principal{background-color: #243C44;}
#barraNavegacion{
	background-color: #58D68D;
	border-radius: 20px 20px 20px 20px;
	font-size: 30px;
	height: 95px;
	padding-left: 250px;
	padding-top: 35px;
	margin-top: 5px;
}
#barraBusqueda{border-radius: 10px 10px 10px 10px;}
#barraNavegacion li{
	display: inline;
	padding-right: 25px;
}
#menuLogo{
	width: 100px;
	height: 100px;
	margin-left: -200px;
	margin-top: -15px;
	position: fixed;
}
#formulario {
	background-color: #FFFFFF;
	width: 1000px;
	height: 520px;
	margin-left: 150px;
	margin-top: -20px;
	border-radius: 10px 10px 10px 10px;
}
#formulario h2 {
	font-family: 'Oswald', sans-serif;
	padding-top: 30px;
	padding-left: 80px;
	font-size: 60px;
}
#formulario p {
	font-family: 'Oswald', sans-serif;
	padding-left: 80px;
	margin-top: -40px;
}
#formulario input{
	border-radius: 10px 10px 10px 10px;
	width: 350px;
	height: 30px;
	margin-top: 25px;
	margin-left: 50px;
	padding-left: 20px;
}
#formulario textarea {
	width: 350;
	height: 120px;
	margin-top: 20px;
	margin-left: 50px;
	border-radius: 10px 10px 10px 10px;
} 
#botonContacto {
	background-color: #58D68D;
	margin-left: 100px;
	border: none;
	width: 10px;
	height: 100px;
}

#pie{
	background-color: #58D68D;
	width: 1120px;
	height: 150px;
	border-radius: 10px 10px 10px 10px;
	margin-top: 10px;
	margin-left: 100px;
}
#pieContacto h3{
	font-size: 30px;
	padding-left: 40px;
	padding-top: 4px;
	color: #FFFFFF;
}
#pieContacto{
	font-size: 18px;
	color: #FFFFFF;
	padding-left: 100px;

}
#pieSiguenos h3{
	font-size: 30px;
	color: #FFFFFF;
	margin-left: 40px;
	margin-top: -140px;
}
#pieSiguenos {
	margin-top: -130px;
	margin-left: 450px;
	padding-left: 35px;
}
#pieSiguenos img {
	padding-left: 10px;
}
#pieAcercaDe h3 {
	font-size: 30px;
	color: #FFFFFF;
	margin-left: 820px;
	margin-top: -85px; 	
}
#pieAcercaDe p{
	text-align: right;
	padding-right: 90px;
	margin-top:-35px;
	color: #FFFFFF;
	font-size: 18px;
	color: #FFFFFF;
}
